html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, fieldset, form, input, table, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  outline: 0 none;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol, li {
  list-style: none;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:active, a:focus {
  outline: medium none;
}

a img {
  border: 0 none;
}

body {
  font-family: "ProximaNovaRegular";
  background: #fff;
  -webkit-font-smoothing: antialiased;
  font-size: 10px;
}

@font-face {
  font-family: "BrandonBold";
  src: url("../fonts/Brandon_bld.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../fonts/Proxima Nova Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaRegular";
  src: url("../fonts/Proxima Nova Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNovaSemibold";
  src: url("../fonts/Proxima Nova Semibold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TrajanProBold";
  src: url("../fonts/TrajanPro-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TrajanProRegular";
  src: url("../fonts/TrajanPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

header {
  margin-top: 15px;
  text-align: center;
}

header .tel, header .work, header .menu, header .enter, header .buy, header .qwant, header li {
  display: inline-block;
  text-transform: uppercase;
  line-height: 17px;
  font-weight: 600;
}

header .qwant, header .work {
  font-size: 12px;
}

header .qwant, header .tel {
  color: #1E1E1E;
}

header .qwant, header .buy, header .enter {
  float: right;
}

header .tel, header .work {
  float: left;
}

header .tel {
  font-size: 14px;
  margin-left: 30px;
  letter-spacing: 0.35px;
}

header .work {
  color: #ABABAB;
  text-transform: none;
  margin-left: 18px;
  letter-spacing: 0.5px;
}

header .qwant {
  margin-right: 14px;
}

header .buy {
  background: url(../images/basket.png) center no-repeat;
  background-position: 0 0;
  margin-right: 8px;
  width: 14px;
  height: 16px;
}

header .enter {
  margin-right: 22px;
  letter-spacing: 0.5px;
}

header .enter a {
  color: #9C9C9C;
}

header .menu {
  margin-left: -90px;
}

header .menu li {
  margin: 0 15px;
}

header .menu li a {
  letter-spacing: 0.4px;
  color: #9C9C9C;
}

header .logo {
  margin: 40px 0 30px 10px;
}

header .submenu {
  border-top: 1px solid #FAFAFA;
  margin-left: 15px;
  padding: 17px 0;
}

header .submenu ul li {
  margin: 0 2%;
  letter-spacing: 0.4px;
}

header .submenu ul li a {
  color: #1E1E1E;
  font-family: "ProximaNovaBold";
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
}

.slider {
  position: relative;
}

.slider .text_foto {
  position: absolute;
  bottom: 53px;
  left: 106px;
}

.slider a.more {
  color: #C59A77;
  width: 110px;
  height: 110px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 33px;
  right: 15px;
  text-align: center;
  font-family: "ProximaNovaBold";
  font-size: 12px;
  text-transform: uppercase;
  line-height: 113px;
}

.main_banner .banner {
  width: calc(100% / 3);
  height: 194px;
  display: inline-block;
  margin-top: -1px;
  vertical-align: top;
}

.main_banner .banner .text {
  font-family: "ProximaNovaBold";
  font-size: 18px;
  line-height: 24px;
  width: 150px;
  margin: 24px 0 0 41px;
}

.main_banner .banner .flaticon-arrows {
  display: inline-block;
  margin: 48px 0 0 41px;
  transition: linear 0.3s;
}

.main_banner .banner:nth-child(1) {
  background: url(../images/banner_1.png) center no-repeat;
  background-size: cover;
}

.main_banner .banner:nth-child(1) .text {
  color: #C59A77;
}

.main_banner .banner:nth-child(1) .flaticon-arrows {
  color: #C59A77;
}

.main_banner .banner:nth-child(1) .flaticon-arrows:hover {
  cursor: pointer;
  color: #1F1F1F;
}

.main_banner .banner:nth-child(2) {
  background: url(../images/banner_2.png) center no-repeat;
  background-size: cover;
}

.main_banner .banner:nth-child(2) .text {
  color: #1E1E1E;
}

.main_banner .banner:nth-child(2) .flaticon-arrows {
  color: #1E1E1E;
}

.main_banner .banner:nth-child(2) .flaticon-arrows:hover {
  cursor: pointer;
  color: #949BA3;
}

.main_banner .banner:nth-child(3) {
  background: url(../images/banner_3.png) center no-repeat;
  background-size: cover;
}

.main_banner .banner:nth-child(3) .text {
  color: #fff;
}

.main_banner .banner:nth-child(3) .flaticon-arrows {
  color: #fff;
}

.main_banner .banner:nth-child(3) .flaticon-arrows:hover {
  cursor: pointer;
  color: #A27C5D;
}

.products .item {
  width: calc(100% / 3);
  border-bottom: 1px solid #E5E5E5;
  box-sizing: border-box;
  display: inline-block;
  height: 300px;
  padding: 25px 40px;
  position: relative;
  vertical-align: top;
  transition: linear 0.3s;
}

.products .item .rightside, .products .item .leftside {
  display: inline-block;
  height: 100%;
}

.products .item .leftside {
  width: 125px;
  vertical-align: top;
}

.products .item .leftside .title {
  color: #1E1E1E;
  font-family: "ProximaNovaBold";
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  width: 150px;
}

.products .item .leftside .about {
  color: #808080;
  font-family: "ProximaNovaBold";
  font-size: 12px;
  line-height: 16px;
  width: 135px;
  margin-top: 15px;
}

.products .item .leftside .price {
  color: #808080;
  font-family: "ProximaNovaRegular";
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  position: absolute;
  bottom: 28px;
  left: 42px;
  letter-spacing: 0.6px;
}

.products .item .rightside {
  width: calc(100% - 125px);
}

.products .item .rightside .foto {
  text-align: center;
  padding-top: 30px;
}

.products .item .rightside .foto img {
  max-height: 220px;
}

.products .item .rightside .buy {
  position: absolute;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  box-shadow: 0px 6px 8px -1px #D7D7D7;
  bottom: 32px;
  right: 27px;
  transition: linear 0.3s;
}

.products .item .rightside .buy .basket {
  background: url(../images/basket.png) center no-repeat;
  background-position: 0px -17px;
  width: 14px;
  height: 16px;
  position: absolute;
  top: 10px;
  left: 12px;
}

.products .item:nth-child(3n+2) {
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
}

.products .item:nth-last-child(2) {
  border-right: 1px solid #E5E5E5;
}

.products .item:hover {
  cursor: pointer;
  background-color: #F7F0EB;
}

.products .item:hover .buy {
  background-color: #C59A77;
}

.products .item:hover .buy .basket {
  background-position: 0px -34px;
}

.products .banner_bottom {
  width: calc(100% - 100% / 3);
  display: inline-block;
  height: 300px;
  overflow: hidden;
}

.products .banner_bottom .text {
  position: absolute;
  z-index: 1;
  padding: 25px 40px;
  width: 340px;
  color: #535050;
  font-family: "ProximaNovaRegular";
  font-size: 14px;
  line-height: 18px;
}

.products .banner_bottom .text span {
  display: block;
}

.products .banner_bottom .text span:nth-child(1) {
  color: #1E1E1E;
  font-family: "ProximaNovaBold";
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.products .banner_bottom .text span:last-child {
  margin-top: 25px;
}

.footer {
  color: #8E8E8E;
  background-color: #1E1E1E;
  height: 400px;
  padding: 30px 35px;
  box-sizing: border-box;
  margin-top: -3px;
}

.footer .copy,
.footer .about_us,
.footer .help,
.footer .info,
.footer .partners,
.footer .soc_link,
.footer .soc_link li:nth-child(n+2) {
  display: inline-block;
  vertical-align: top;
}

.footer .copy ul li:first-child,
.footer .about_us ul li:first-child,
.footer .help ul li:first-child,
.footer .info ul li:first-child,
.footer .partners ul li:first-child,
.footer .soc_link ul li:first-child,
.footer .soc_link li:nth-child(n+2) ul li:first-child {
  color: white;
  font-family: "ProximaNovaBold";
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

.footer .copy ul li a,
.footer .about_us ul li a,
.footer .help ul li a,
.footer .info ul li a,
.footer .partners ul li a,
.footer .soc_link ul li a,
.footer .soc_link li:nth-child(n+2) ul li a {
  font-size: 12px;
  line-height: 32px;
  color: #8E8E8E;
}

.footer .copy {
  font-family: "ProximaNovaBold";
  font-size: 12px;
  width: 129px;
  line-height: 16px;
}

.footer .copy span {
  display: block;
}

.footer .about_us {
  margin-left: 10%;
}

.footer .help {
  margin-left: 9%;
}

.footer .info {
  margin-left: 6%;
}

.footer .partners {
  margin-left: 8%;
  width: 145px;
}

.footer .partners ul li:nth-child(2) {
  margin-top: 7px;
  margin-bottom: 15px;
}

.footer .partners ul li:nth-child(3) a {
  line-height: 20px;
}

.footer .soc_link {
  float: right;
}

.footer .soc_link ul li a {
  color: #C59A77;
}

.footer .soc_link ul li:nth-child(n+2) {
  margin-top: 8px;
  margin-right: 11px;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 39px;
  font-style: normal;
}

.flaticon-arrows:before {
  content: "\f100";
}

.flaticon-facebook-logo:before {
  content: "\f101";
}

.flaticon-instagram-logo:before {
  content: "\f102";
}

.flaticon-vk-social-logotype:before {
  content: "\f103";
}

.next, .prev {
  position: absolute;
  top: 39%;
  z-index: 1;
}

.next:hover, .prev:hover {
  cursor: pointer;
}

.next {
  right: 50px;
  opacity: 0.1;
  transition: ease 0.3s;
}

.next:hover {
  opacity: 1;
}

.prev {
  left: 50px;
  opacity: 0.1;
  transition: ease 0.3s;
}

.prev:hover {
  opacity: 1;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before {
  display: table;
  content: '';
}

.slick-track:after {
  display: table;
  content: '';
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
  width: 100%;
  min-height: 300px;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  position: absolute;
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  top: 42px;
  right: 48px;
}

.slick-dots li {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  content: '';
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 2px solid #fff;
  border-radius: 50%;
}

.slick-dots li.slick-active button:before {
  background-color: #fff;
}

@media (max-width: 1203px) {
  .footer .about_us {
    margin-left: 9%;
  }
  .footer .help {
    margin-left: 8%;
  }
  .footer .info {
    margin-left: 5%;
  }
  .footer .partners {
    margin-left: 7%;
  }
}

@media (max-width: 1200px) {
  header .submenu ul li {
    margin: 0 1%;
  }
  .products .item .rightside .foto img {
    max-height: 150px;
  }
}

@media (max-width: 1140px) {
  .footer .about_us {
    margin-left: 7%;
  }
  .footer .help {
    margin-left: 7%;
  }
  .footer .info {
    margin-left: 4%;
  }
  .footer .partners {
    margin-left: 6%;
  }
}

@media (max-width: 1075px) {
  .footer .about_us, .footer .help, .footer .info, .footer .partners {
    margin-left: 4%;
  }
  .products .item .rightside .foto {
    padding-top: 100px;
  }
  .products .item .rightside .foto img {
    max-height: 120px;
  }
  .slider .text_foto {
    bottom: 25px;
  }
}

@media (max-width: 980px) {
  .slider .text_foto {
    width: 300px;
  }
  .slider .text_foto img {
    width: 100%;
  }
}
