.footer
  .copy 
    |@ 2010-2016 Интернет-магазин профессиональной косметики. 
    span
      |Все права защищены.
  .about_us
    ul
      li О нас
      li 
        a href=""
          |О магазине
      li 
        a href=""
          |Контакты
  .help
    ul
      li Помощь
      li 
        a href=""
          |Доставка и оплата
      li 
        a href=""
          |Статус заказа
      li 
        a href=""
          |Консультации
      li 
        a href=""
          |Скидки
      li 
        a href=""
          |Оптовым покупателям
  .info
    ul
      li Информация
      li 
        a href=""
          |Подлинность продукции
      li 
        a href=""
          |Конфиденциальность
      li 
        a href=""
          |Договор оферты
      li 
        a href=""
          |Правила продажи
      li 
        a href=""
          |Поставщикам
  .partners
    ul
      li Партнеры
      li 
        a href=""
          img src="../images/logo_footer.png" alt=""
      li 
        a href=""
          |Подарочные сертификаты
  .soc_link
    ul
      li Мы в соцсетях
      li
        a.flaticon-instagram-logo href=""
      li
        a.flaticon-vk-social-logotype href=""
      li
        a.flaticon-facebook-logo href=""