header
  .tel 8 495 748 62 61
  .work Пн-Пт с 10 до 20
  .menu
    ul
      li 
        a href="" 
          |Главная
      li 
        a href="" 
          |Доставка и оплата
      li 
        a href="" 
          |Скидки
      li 
        a href="" 
          |Гарантии
      li 
        a href="" 
          |Консультации
  
  .qwant 2
  a.buy href="" 
  .enter
    a href="" 
      |Войти на сайт
  .logo
    a href="" 
      img src="../images/logo.png" alt=""
  .submenu
    ul
      li 
        a href=""
          |Бренды
      li 
        a href=""
          |Для волос
      li 
        a href=""
          |Для лица
      li
        a href=""
          |Для рук
      li
        a href=""
          |Для ног
      li
        a href=""
          |Для тела
      li
        a href=""
          |Аксессуары
      li
        a href=""
          |Парфюмерия
      li
        a href=""
          |Для мужчин
      li
        a href=""
          img src="../images/search.png" alt=""