.slider
  .nav
    .next
      img src="../images/next.png" alt=""
    .prev
      img src="../images/prev.png" alt=""
  .slides
    div
      img src="../images/slide_1.png" alt=""
    div
      img src="../images/slide_2.png" alt=""
  .text_foto
    img src="../images/1_03.png" alt=""
  a.more href=""
    |Подробнее
.main_banner
  .banner
    .text Популярные бренды
    .flaticon-arrows
  .banner
    .text Уход за волосами
    .flaticon-arrows
  .banner
    .text Товары для мужчин
    .flaticon-arrows
.products
  .item
    .leftside
      .title Cloud Nine Touch
      .about Сенсорный стайлер для выпрямления волос
      .price 13 216 руб
    .rightside
      .foto
        img src="../images/product/product_1.png" alt=""
      .buy
        .basket
  .item
    .leftside
      .title Charge Up Thickening Shampoo
      .about Шампунь для нормальных и тонких волос, 250 мл
      .price 8 650 руб
    .rightside
      .foto
        img src="../images/product/product_2.png" alt=""
      .buy
        .basket
  .item
    .leftside
      .title The activator density and density
      .about Активатор густоты и плотности волос DENSIFIQUE для женщин
      .price 13 216 руб
    .rightside
      .foto
        img src="../images/product/product_3.png" alt=""
      .buy
        .basket
  .item
    .leftside
      .title Cloud Nine Touch
      .about Сенсорный стайлер для выпрямления волос
      .price 13 216 руб
    .rightside
      .foto
        img src="../images/product/product_4.png" alt=""
      .buy
        .basket
  .item
    .leftside
      .title Charge Up Thickening Shampoo
      .about Шампунь для нормальных и тонких волос, 250 мл
      .price 4 450 руб
    .rightside
      .foto
        img src="../images/product/product_5.png" alt=""
      .buy
        .basket
  .item
    .leftside
      .title The activator density and density
      .about Активатор густоты и плотности волос DENSIFIQUE для женщин
      .price 10 560 руб
    .rightside
      .foto
        img src="../images/product/product_6.png" alt=""
      .buy
        .basket
  .item
    .leftside
      .title Cloud Nine Touch
      .about Сенсорный стайлер для выпрямления волос
      .price 8 750 руб
    .rightside
      .foto
        img src="../images/product/product_7.png" alt=""
      .buy
        .basket
  .item
    .leftside
      .title Charge Up Thickening Shampoo
      .about Шампунь для нормальных и тонких волос, 250 мл
      .price 8 650 руб
    .rightside
      .foto
        img src="../images/product/product_8.png" alt=""
      .buy
        .basket
  .item
    .leftside
      .title The activator density and density
      .about Активатор густоты и плотности волос DENSIFIQUE для женщин
      .price 8 800 руб
    .rightside
      .foto
        img src="../images/product/product_9.png" alt=""
      .buy
        .basket
  .item
    .leftside
      .title Beauty Style
      .about Маска для рук смягчающая питательная с эффектом скраба
      .price 850 руб
    .rightside
      .foto
        img src="../images/product/product_10.png" alt=""
      .buy
        .basket
  .banner_bottom
    .text
      span
        |Интернет-магазин профессиональной косметики 
      |Дорогой посетитель, мы рады пригласить Вас в прекрасный мир высококачественной и профессиональной косметики! 
      span 
        |На просторах нашего магазина вас ждет обширный выбор продукции для лица, тела, рук, ногтей, волос, различные эксклюзивные обертывания. 
    .banner_bill
      div
        img src="../images/banner_bottom_1.png" alt=""
      div
        img src="../images/banner_bottom_2.png" alt=""
javascript:
  $(document).ready(function(){
    $('.slides').slick({
      dots: true,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
      nextArrow: $('.next'),
      prevArrow: $('.prev')
    });
  });
  $(document).ready(function(){
    $('.banner_bill').slick({
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
      autoplay: true,
      autoplaySpeed: 3000,
      arrows: false,
      adaptiveHeight: true
    });
  });

