@font-face
  font-family: "BrandonBold"
  src: url("../fonts/Brandon_bld.otf") format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "ProximaNovaBold"
  src: url("../fonts/Proxima Nova Bold.otf") format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "ProximaNovaRegular"
  src: url("../fonts/Proxima Nova Regular.otf") format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "ProximaNovaSemibold"
  src: url("../fonts/Proxima Nova Semibold.otf") format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "TrajanProBold"
  src: url("../fonts/TrajanPro-Bold.otf") format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "TrajanProRegular"
  src: url("../fonts/TrajanPro-Regular.otf") format("opentype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Flaticon"
  src: url("../fonts/Flaticon.eot")
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg")
  font-weight: normal
  font-style: normal


@media screen and (-webkit-min-device-pixel-ratio: 0)
  @font-face
    font-family: "Flaticon"
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg")

