@charset "UTF-8"

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, fieldset, form, input, table, tbody, tfoot, thead, tr, th, td
  margin: 0
  padding: 0
  outline: 0 none
  vertical-align: baseline

table
  border-collapse: collapse
  border-spacing: 0

ul, ol, li
  list-style: none

html, body
  height: 100%

h1, h2, h3, h4
  font-weight: normal

a
  text-decoration: none
  cursor: pointer
  &:active, &:focus
    outline: medium none
  img
    border: 0 none

body
  font-family: "ProximaNovaRegular"
  background: #fff
  -webkit-font-smoothing: antialiased
  font-size: 10px