@media (max-width: 1203px)
  .footer 
    .about_us
      margin-left: 9%
    .help
      margin-left: 8%
    .info
      margin-left: 5%
    .partners
      margin-left: 7%

@media (max-width: 1200px)
  header 
    .submenu 
      ul 
        li
          margin: 0 1%;
  .products 
    .item 
      .rightside 
        .foto 
          img
            max-height: 150px;

@media (max-width: 1140px)
  .footer 
    .about_us
      margin-left: 7%
    .help
      margin-left: 7%
    .info
      margin-left: 4%
    .partners
      margin-left: 6%


@media (max-width: 1075px)
  .footer 
    .about_us, .help,  .info, .partners
      margin-left: 4%
  .products 
    .item 
      .rightside 
        .foto
          padding-top: 100px
          img
            max-height: 120px
  .slider 
    .text_foto
      bottom: 25px

@media (max-width: 980px)
  .slider 
    .text_foto
      width: 300px
      img
        width: 100%