// Slider

.next, .prev
  position: absolute
  top: 39%;
  z-index: 1;
  &:hover
    cursor: pointer
.next
  right: 50px
  opacity: 0.1
  transition: ease 0.3s
  &:hover
    opacity: 1
.prev
  left: 50px
  opacity: 0.1
  transition: ease 0.3s
  &:hover
    opacity: 1

.slick-slider
  position: relative
  display: block
  box-sizing: border-box
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  -webkit-touch-callout: none
  -khtml-user-select: none
  -ms-touch-action: pan-y
  touch-action: pan-y
  -webkit-tap-highlight-color: transparent

.slick-list
  position: relative
  display: block
  overflow: hidden
  margin: 0
  padding: 0
  &:focus
    outline: none
  &.dragging
    cursor: pointer
    cursor: hand

.slick-slider
  .slick-track, .slick-list
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    -ms-transform: translate3d(0, 0, 0)
    -o-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

.slick-track
  position: relative
  top: 0
  left: 0
  display: block
  &:before
    display: table
    content: ''
  &:after
    display: table
    content: ''
    clear: both

.slick-loading .slick-track
  visibility: hidden

.slick-slide
  display: none
  float: left
  height: 100%
  min-height: 1px

[dir='rtl'] .slick-slide
  float: right

.slick-slide
  img
    display: block
    width: 100%
    min-height: 300px
  &.slick-loading img
    display: none
  &.dragging img
    pointer-events: none

.slick-initialized .slick-slide
  display: block

.slick-loading .slick-slide
  visibility: hidden

.slick-vertical .slick-slide
  display: block
  height: auto
  border: 1px solid transparent

.slick-arrow.slick-hidden
  display: none

// Dots
.slick-dots
    position: absolute
    display: block
    padding: 0
    margin: 0
    list-style: none
    text-align: center
    top: 42px
    right: 48px

.slick-dots li
    position: relative
    width: 20px
    height: 20px
    margin: 0 5px
    padding: 0
    cursor: pointer

.slick-dots li button
    font-size: 0
    line-height: 0
    display: block
    width: 20px
    height: 20px
    padding: 5px
    cursor: pointer
    color: transparent
    border: 0
    outline: none
    background: transparent

.slick-dots li button:hover,
.slick-dots li button:focus
    outline: none

.slick-dots li button:hover:before,
.slick-dots li button:focus:before
    opacity: 1

.slick-dots li button:before
    line-height: 20px
    position: absolute
    top: 0
    left: 0
    width: 5px
    height: 5px
    content: ''
    text-align: center
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    border: 2px solid #fff
    border-radius: 50%

.slick-dots li.slick-active button:before
    background-color: #fff