header
  margin-top: 15px
  text-align: center
  .tel, .work, .menu, .enter, .buy, .qwant, li
    display: inline-block
    text-transform: uppercase
    line-height: 17px
    font-weight: 600
  .qwant, .work
    font-size: 12px  
  .qwant, .tel
    color: #1E1E1E
  .qwant, .buy, .enter
    float: right
  .tel, .work
    float: left
  .tel
    font-size: 14px
    margin-left: 30px
    letter-spacing: 0.35px
  .work
    color: #ABABAB
    text-transform: none
    margin-left: 18px
    letter-spacing: 0.5px
  .qwant
    margin-right: 14px
  .buy
    background: url(../images/basket.png) center no-repeat
    background-position: 0 0
    margin-right: 8px
    width: 14px
    height: 16px
  .enter
    margin-right: 22px
    letter-spacing: 0.5px
    a
      color: #9C9C9C
  .menu
    margin-left: -90px
    li
      margin: 0 15px
      a
        letter-spacing: 0.4px
        color: #9C9C9C
  .logo
    margin: 40px 0 30px 10px
  .submenu
    border-top: 1px solid #FAFAFA
    margin-left: 15px
    padding: 17px 0
    ul 
      li
        margin: 0 2%
        letter-spacing: 0.4px
        a
          color: #1E1E1E
          font-family: "ProximaNovaBold"
          font-size: 13px
          line-height: 17px
          text-transform: uppercase
.slider
  position: relative
  .text_foto
    position: absolute
    bottom: 53px
    left: 106px
  a.more
    color: #C59A77
    width: 110px
    height: 110px
    background-color: #fff
    border-radius: 50%
    position: absolute
    bottom: 33px
    right: 15px
    text-align: center
    font-family: "ProximaNovaBold"
    font-size: 12px
    text-transform: uppercase
    line-height: 113px
.main_banner
  .banner
    width: calc(100% / 3)
    height: 194px
    display: inline-block
    margin-top: -1px
    vertical-align: top
    .text
      font-family: "ProximaNovaBold"
      font-size: 18px
      line-height: 24px
      width: 150px
      margin: 24px 0 0 41px
    .flaticon-arrows
      display: inline-block
      margin: 48px 0 0 41px
      transition: linear 0.3s
          
    &:nth-child(1)
      background: url(../images/banner_1.png) center no-repeat
      background-size: cover
      .text
        color: #C59A77
      .flaticon-arrows
        color: #C59A77        
        &:hover
          cursor: pointer
          color: #1F1F1F

    &:nth-child(2)
      background: url(../images/banner_2.png) center no-repeat
      background-size: cover
      .text
        color: #1E1E1E
      .flaticon-arrows
        color: #1E1E1E
        &:hover
          cursor: pointer
          color: #949BA3
      
    &:nth-child(3)
      background: url(../images/banner_3.png) center no-repeat
      background-size: cover
      .text
        color: #fff
      .flaticon-arrows
        color: #fff
        &:hover
          cursor: pointer
          color: #A27C5D
.products
  .item
    width: calc(100% / 3)
    border-bottom: 1px solid #E5E5E5
    box-sizing: border-box
    display: inline-block
    height: 300px
    padding: 25px 40px
    position: relative
    vertical-align: top
    transition: linear 0.3s
    .rightside,.leftside
      display: inline-block
      height: 100%
    .leftside
      width: 125px
      vertical-align: top
      .title
        color: #1E1E1E
        font-family: "ProximaNovaBold"
        font-size: 18px
        line-height: 24px
        text-transform: uppercase
        width: 150px
      .about
        color: #808080
        font-family: "ProximaNovaBold"
        font-size: 12px
        line-height: 16px
        width: 135px
        margin-top: 15px
      .price
        color: #808080
        font-family: "ProximaNovaRegular"
        font-size: 18px
        line-height: 24px
        text-transform: uppercase
        position: absolute
        bottom: 28px
        left: 42px
        letter-spacing: 0.6px    
    .rightside
      width: calc(100% - 125px)
      .foto        
        text-align: center
        padding-top: 30px
        img
          max-height: 220px
      .buy
        position: absolute
        width: 39px
        height: 39px
        border-radius: 50%
        box-shadow: 0px 6px 8px -1px #D7D7D7
        bottom: 32px
        right: 27px
        transition: linear 0.3s
        .basket
          background: url(../images/basket.png) center no-repeat
          background-position: 0px -17px
          width: 14px
          height: 16px
          position: absolute
          top: 10px
          left: 12px
    &:nth-child(3n+2)
      border-left: 1px solid #E5E5E5
      border-right: 1px solid #E5E5E5
    &:nth-last-child(2)
      border-right: 1px solid #E5E5E5
    &:hover
      cursor: pointer
      background-color: #F7F0EB
      .buy
        background-color: #C59A77
        .basket
          background-position: 0px -34px

  .banner_bottom
    width: calc(100% - 100% / 3)
    display: inline-block
    height: 300px
    overflow: hidden
    .text
      position: absolute
      z-index: 1
      padding: 25px 40px
      width: 340px
      color: #535050
      font-family: "ProximaNovaRegular"
      font-size: 14px
      line-height: 18px
      span
        display: block
        &:nth-child(1)
          color: #1E1E1E
          font-family: "ProximaNovaBold"
          font-size: 18px
          line-height: 24px
          text-transform: uppercase
          margin-bottom: 25px
        &:last-child
          margin-top: 25px
.footer
  color: #8E8E8E
  background-color: #1E1E1E
  height: 400px
  padding: 30px 35px
  box-sizing: border-box
  margin-top: -3px
  .copy,
  .about_us, 
  .help, 
  .info, 
  .partners, 
  .soc_link, 
  .soc_link li:nth-child(n+2)
    display: inline-block
    vertical-align: top
    ul
      li
        &:first-child
          color: white
          font-family: "ProximaNovaBold"
          font-size: 18px
          line-height: 24px
          text-transform: uppercase
        a
          font-size: 12px
          line-height: 32px
          color: #8E8E8E
  .copy
    font-family: "ProximaNovaBold"
    font-size: 12px
    width: 129px
    line-height: 16px
    span
      display: block
  .about_us
    margin-left: 10%
  .help
    margin-left: 9%
  .info
    margin-left: 6%
  .partners
    margin-left: 8%
    width: 145px
    ul
      li
        &:nth-child(2)
          margin-top: 7px
          margin-bottom: 15px
        &:nth-child(3)
          a
            line-height: 20px
  .soc_link
    float: right
    ul
      li
        a
          color: #C59A77
    ul 
      li
        &:nth-child(n+2)
          margin-top: 8px
          margin-right: 11px














[class^="flaticon-"]:before,
[class*=" flaticon-"]:before, 
[class^="flaticon-"]:after, 
[class*=" flaticon-"]:after
  font-family: Flaticon
  font-size: 39px
  font-style: normal

.flaticon-arrows
  &:before
    content: "\f100"

.flaticon-facebook-logo
  &:before
    content: "\f101"

.flaticon-instagram-logo
  &:before
    content: "\f102"

.flaticon-vk-social-logotype
  &:before
    content: "\f103"
