doctype html
html
  head
    == Slim::Template.new('./partial/html_head.slim').render
  body
    == Slim::Template.new('./content/header.slim').render
    == Slim::Template.new('./content/main_page_new.slim').render
    == Slim::Template.new('./content/footer.slim').render